# Node modules
client/node_modules/
server/node_modules/

# Build output
client/build/
client/dist/
server/build/
server/dist/

# Environment variables
client/.env
server/.env

# Logs
*.log

# Environment variables
client/.env
server/.env

# Firebase service account key
server/src/config/seedsync-add23-firebase-adminsdk-fbsvc-be472c047a.json

# IDE specific files
.DS_Store
.vscode/